<!DOCTYPE html>
<html style="height: 100%">
    <head>
      <title>Enyakın Eczane...</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwedtbCae-frsVDz_I7N0lH5n78FE_bG8"></script>
      <script type="text/javascript">$( document ).ready(()=>{
        });
      </script>
    </head>
    <body style="height: 100%; width: 100%;">
      <div id="map" style="height: 100%; width: 100%;"></div>
      <script type="text/javascript">
               var map = new google.maps.Map($("#map")[0],{
          zoom: 13,
          center: {lat: 41, lng: 29}
          }); 
      </script>

    </body>
</html>