<!DOCTYPE html>
<html style="height: 100%">
<head>
	<title>Enyakın Eczane</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwedtbCae-frsVDz_I7N0lH5n78FE_bG8"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
	    $( document ).ready(function() {
	      });
    </script>
    <style type="text/css">
    	.left.menu .item:hover{
    		background: grey;
    	}
    </style>
</head>
<body style="height: 100%;">

<div class="ui fixed menu">
	<a class="item">Enyakın-Eczane</a>
	<div class="item input">
		<input type="date" id="ndate" value="">
	</div>
	<div class="ui right simple dropdown item">
		<i class="large options icon"></i>
		<div class="menu">
			<a class="item">
				<i class="sign in icon"></i>Giriş
			</a>
			<a class="item">
				<i class="add user icon"></i>Üye ol
			</a>
		</div>
	</div>
</div>

<div id="infoW" class="ui left sidebar">
<div class="ui card">
	<div class="content">
		<div class="header">
		<span class="">Nilüfer ECZANESİ</span>
		<i class="bordered red heartbeat icon"></i>
		<i class="bordered arrow right icon"></i></div>
		<div class="meta">
			<span>Bilgiler</span>
		</div>
		<div class="ui four column internally celled grid description">
			<div class="row">
				<span class="column">Adres:</span>
				<span class="wide column">ERTUĞRUL MAH. MİMAR SİNAN CAD.HASAN ŞEKERÖZÜ SOK. NO:1/13</span>
			</div>
			<div class="row">
				<span class="column">Tel:</span>
				<span class="wide column">5453453</span>
			</div>
		</div>
	</div>
</div>
</div>
<div id="map" style="height: 100%;"></div>

<script type="text/javascript">
var map = new google.maps.Map($("#map")[0], {
	  zoom: 10,
	  mapTypeId: 'roadmap',
	  center: {lat: 41, lng: 27.0},
	  mapTypeControl: true,
      mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
        position: google.maps.ControlPosition.RIGHT_CENTER
      },
      zoomControl: false,
      streetViewControl: true,
      streetViewControlOptions: {
      position: google.maps.ControlPosition.RIGHT_CENTER
      },
	});
	
	map.data.setStyle( function(feature){
		var icon;
		if (feature.getProperty('nobetci')==true) {
			icon= 'http://www.gaziantepeo.org.tr/app/themes/geo-v1/img/icon-1.png';
		} else {
			icon= 'http://www.samsuneczaciodasi.org.tr/images/elogo2.gif';
		}
		return ({
			icon: icon
		});
	});
	map.data.addListener('click',function(event){
		$('#infoW').sidebar('toggle');
	});

var socket=io();
	socket.on('connect', function(){
		console.log('baglandik');
	});
	$('#ndate').val(moment().format("YYYY-MM-DD").valueOf());
	$('#ndate').change(function(){
		//console.log($(this).val());
		var tdate=$(this).val();
		socket.emit('date', moment(tdate).format("DD/MM/YYYY").valueOf());
	});
	socket.emit('date', moment().format("DD/MM/YYYY").valueOf());
	socket.on('layers', function(data){
		//console.log(data[0].eczane.features[0]);
		map.data.forEach(function(feature) {
			console.log(feature.getProperty('nobetci'));
        	map.data.remove(feature);
		});
		map.data.addGeoJson(data[0].eczane);
	});
</script>
</body>
</html>
